*{
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #4e6988da;
}
.container{
    position: relative;
    margin: 0 20px;
}
.container .card{
    position: relative;
    width: 320px;
    height: 450px;
    background-color: #0000007e;
    border-radius: 20px;
    overflow: hidden;
}
.container .card:before{
    content: '';
    position: solute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #03A9F4;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}
.container .card:hover:before{
    clip-path: circle(300px at 80% -20%);
}
.container .card .imgbox{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 10000;
    height: 200px;
    transition: 0.5s;
}
.container .card:hover .imgbox{
    top: 0;
    transform: translateY(0%);
}
.container .card .imgbox img{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(90%, -45%);
    width: 170px;
}
.container .card .contentbox{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 10;
}
.container .card:hover .contentbox{
    height: 210px;
}
.container .card .contentbox h2{
    position: relative;
    font-weight: bold;
    letter-spacing: 1px;
    color: #FFFFFF;
}
.container .card .contentbox .price,
.container .card .contentbox .color{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5px 10px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.container .card:hover .contentbox .price{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}
/*  */
.container .card:hover .contentbox .color{
    font-size: 0.5rem;
    gap: 0.5rem;
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}
/*  */
.container .card .contentbox .price h3,
.container .card .contentbox .color h3{
    color: #FFFFFF;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}
.container .card .contentbox .price span{
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 20px;
    display: inline-block;
    color: #111111;
    background-color: #FFFFFF;
    margin: 0 5px;
    transition: 0.5s;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
.container .card .contentbox .color span:nth-child(2){
    background-color: #9BDC28;
    border-radius: 50%;
    padding: 6px;
}
.container .card .contentbox .color span:nth-child(3){
    background-color: #03A9F4;
    border-radius: 50%;
    padding: 6px;
}
.container .card .contentbox .color span:nth-child(4){
    background-color: #E91E63;
    border-radius: 50%;
    padding: 6px;
}
.container .card .contentbox a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFFFFF;
    border-radius: 4px;
    margin-top: 5px;
    text-decoration: none;
    font-weight: bold;
    color: #111111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}
.container .card:hover .contentbox a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}
.image{width: 320px;}
